<div class="content-heading">
	Environmental Digital Services Prototype
	<p>The Environmental Digital Services Prototype by SAIC involves search and retrieval of both US EPA Greenhouse Gas and US Census data. All data is retrieved and displayed for a user's selected county. To begin, please enter any location within the US in the search box below or select the geolocate icon to the right of the entry box. The search will locate your county and display its Greenhouse Gas and Census results.</p>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel widget">
			<div class="input-group input-group-lg hidden-xs">
				<label class="sr-only" for="search-textbox">Search for a county</label>
				<span class="input-group-addon" id="search-box">Search:</span>
				<input type="text" class="form-control" placeholder="City/County, State" aria-describedby="search-box" ng-model="search.searchText" id="search-textbox" onkeyup="submitLocationSearch(event)">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" id="search-loc-button" ng-click="search.getGeocode()">View</button>
					<button class="btn btn-green" type="button" ng-click="search.getCurrentGeocode()"><em class="icon-target"></em></button>
				</span>
			</div>
			<div class="panel-body visible-xs">
			<form>
				<div class="form-group">
					<label cfor="search-textbox-mobile">Search for a county</label>
					<input type="text" class="form-control" placeholder="City/County, State" aria-describedby="search-box-mobile" ng-model="search.searchText" id="search-textbox-mobile" onkeyup="submitLocationSearch(event)">
				</div>
				<div class="form-group">
				<button class="btn btn-primary btn-lg" type="button" id="search-loc-button-mobile" ng-click="search.getGeocode()" title="Search for a city or county">View</button>
				<button class="btn btn-green btn-lg" type="button" ng-click="search.getCurrentGeocode()" title="Use current location"><em class="icon-target"></em></button>
				</div>
			</form>
			</div>
		</div>

		<div class="panel panel-default" ng-show="!search.validSearch || search.noResultsFound">
			<div class="panel-body">
			<p class="error" ng-show="!search.validSearch">A city/county is required.</p>
			<p class="error" ng-show="search.noResultsFound">No results were found for the search. Please try again.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-body" dw-loading="census">
			<div class="text-info">Census Profile</div>
			<h3 ng-if="search.selectedCountyName != null">{{search.selectedCountyName}}, {{search.selectedCountyState}}</h3>
			<h3 ng-if="search.selectedCountyName == null">United States of America</h3>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Population:</td>
						<td>{{search.censusTotalPopulation}}</td>
					</tr>
					<tr>
						<td>Number of Households:</td>
						<td>{{search.censusNumberHouseholds}}</td>
					</tr>
					<tr>
						<td>% Minority:</td>
						<td>{{search.censusMinority}}</td>
					</tr>
					<tr>
						<td>% Education Less than HS:</td>
						<td>{{search.censusEduLessThan12G}}</td>
					</tr>
					<tr>
						<td>% HS Diploma Only:</td>
						<td>{{search.censusHSDiploma}}</td>
					</tr>
					<tr>
						<td>% Bachelors Degree or Up:</td>
						<td>{{search.censusBS}}</td>
					</tr>
					<tr>
						<td>% People < 5 Years Old:</td>
						<td>{{search.censusLess5Yr}}</td>
					</tr>
					<tr>
						<td>% < 18 Years Old:</td>
						<td>{{search.censusLess18Yr}}</td>
					</tr>
					<tr>
						<td>% > 64 Years Old:</td>
						<td>{{search.censusGreater64Yr}}</td>
					</tr>
					<tr>
						<td>% Homes Built Before 1950:</td>
						<td>{{search.censusHomeBefore1950}}</td>
					</tr>
					<tr>
						<td>% Speak English Less than Well:</td>
						<td>{{search.censusLessEnglish}}</td>
					</tr>
					<tr>
						<td>% Female:</td>
						<td>{{search.censusFemale}}</td>
					</tr>
					<tr>
						<td>% Renters:</td>
						<td>{{search.censusRenters}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="panel-footer">
			<p>
				Data source: 2008-2012 American Community Survey 5-Year Estimates
			</p>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="text-info">Heat Map of Direct Greenhouse Gas Emissions</div>
				<div id="heatMapCtrl" ng-controller="heatMapController as heatMap">
					<leaflet center="center" layers="layers" width="100%" height="561px"></leaflet>
					<div class="legend leaflet-control">
        <span class="info-label" style="float: left; margin-right: 10px;">Low</span>
        <span class="info-label" style="float: right;">High</span>
        <div class="outline">
          <i style="background:blue"></i>
        </div>
        <div class="outline">
          <i style="background:cyan"></i>
        </div>
        <div class="outline">
          <i style="background:lime"></i>
        </div>
        <div class="outline">
          <i style="background:red"></i>
        </div>
      </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-body">
			<div class="text-info">Emission Totals by Industry Sector</div>
			<h3 ng-if="search.selectedCountyName != null">{{search.selectedCountyName}}, {{search.selectedCountyState}}</h3>
			<div dw-loading="sectors">
			<p ng-if="search.noSectorDataFound">No emissions sector data was found for this county</p>
			<canvas id="sectorChart" class="chart chart-doughnut"
				chart-data="search.sectorChartData" chart-labels="search.sectorChartLabels"
				chart-click="search.filterSectorChart" chart-colours="search.sectorColors" chart-legend="true">
			</canvas>
			</div>
			</div>
			<div class="panel-footer">
			<p class="text-muted">
				Units = {{search.sectorUnits}}
			</p>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
			<div class="text-info">Facilities by <span ng-if="search.selectedSector.length > 0">{{search.selectedSector}}</span> Sector</span></div>
			<h3 ng-if="search.selectedCountyName != null">{{search.selectedCountyName}}, {{search.selectedCountyState}}</h3>
			<div ng-if="!search.viewingFacilities">
				<p>Please click a sector to view the highest emission facilities.</p>
			</div>
			<div dw-loading="facilities" ng-if="search.viewingFacilities">
				<canvas id="facilitiesChart" class="chart chart-bar" style="height: 400px" chart-options="{responsive: true, maintainAspectRatio: false}"
					chart-data="search.facilityChartData" chart-labels="search.facilityChartLabels" chart-series="search.facilityChartSeries">
				</canvas>
			</div>
			</div>
			<div class="panel-footer" ng-if="search.viewingFacilities">
			<p class="text-muted">
				Units = {{search.facilityUnits}}
			</p>
			</div>
		</div>
	</div>
</div>
