<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
	<link rel="stylesheet" href="assets/css/leaflet.css" />
	<!-- SIMPLE LINE ICONS-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
	<!-- ANIMATE.CSS-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.0/animate.css">
	<!-- WHIRL (spinners)-->
	<link rel="stylesheet" href="assets/css/whirl.css">
      <!-- Chart JS -->
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.8/angular-chart.min.css">
      <!-- UI Grid -->
      <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
      <link rel="stylesheet" type="text/css" href="//rawgithub.com/darthwade/angular-loading/master/angular-loading.css"/>
	<!-- =============== BOOTSTRAP STYLES ===============-->
	<link rel="stylesheet" href="assets/css/bootstrap.css" id="bscss">
	<!-- =============== APP STYLES ===============-->
	<link rel="stylesheet" href="app/lib/flight.min.css" id="maincss">
	<!-- ======== SITE ICON ====-->
 	<link rel="shortcut icon" href="assets/img/saic.png" id="favicon">
	
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   	<meta name="description" content="SAIC Digital Services Prototype">
   	<title>SAIC - Environmental Digital Services Prototype</title>
</head>

<body ng-app="flightView" ng-controller="masterController as main">
	<div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper" ng-show="main.loggedIn">
         <!-- START Top Navbar-->
         <nav role="navigation" class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header">
               <a href="/" class="navbar-brand">
                  <div class="brand-logo">
                     <img src="assets/img/logo.png" alt="SAIC Logo" class="img-responsive">
                  </div>
                  <div class="brand-logo-collapsed">
                     <img src="assets/img/logo-single.png" alt="SAIC Logo" class="img-responsive">
                  </div>
               </a>
            </div>
            <!-- END navbar header-->
         </nav>
         <!-- END Top Navbar-->
      </header>
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper" ng-show="main.loggedIn" ng-view></div>

         <!--<div ng-if="!main.loggedIn">		
		<div class="content-heading">Login</div>	

			<form ng-submit="main.doLogin()">
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" ng-model="main.loginData.username">
				</div>
	
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" ng-model="main.loginData.password">
				</div>
	
				<div class="alert alert-danger" ng-if="main.error">
					{{ login.error }}
				</div>
	
				<button type="submit" class="btn btn-block btn-primary">
					<span ng-if="!main.processing">Login</span>
					<span ng-if="main.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
				</button>
	
			</form>
		</div>-->
      </section>
      <!-- Page footer-->
      <footer>
         <span>&copy; 2015 - SAIC. Data sources - EPA Greenhouse Gas FLIGHT web service, EJSCREEN map service, and MyEnviroMapper services</span>
      </footer>
   </div>

<script src="assets/js/lodash.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="assets/js/matchMedia.js"></script>
<script src="assets/js/matchmedia-ng.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
<script src="assets/js/leaflet-heat.js"></script>
<script src="assets/js/angular-leaflet-directive.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="assets/js/animo.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.7/jquery.slimscroll.js"></script>
<script src="assets/js/chart.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.8/angular-chart.min.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
<script src="assets/js/angularjs-geolocation.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.storage-api/1.7.2/jquery.storageapi.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
<script src="//rawgithub.com/darthwade/angular-loading/master/angular-loading.min.js"></script>

<script src="app/lib/flight-app.min.js"></script>
<script src="app/lib/flight-controller.min.js"></script>
<script src="app/lib/flight-services.min.js"></script>
</body>
</html>
